.Header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  background: linear-gradient(to right, #2d9596, #265073);
  color: white;
  font-size: larger;
  border: 2px solid black;
}
.Left-part {
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Left-part > * {
  margin: 10;
}

.Left-part > img {
  height: 80px;
  border-radius: 50%;
}

.Right-part {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.Nav-items {
  flex-wrap: wrap;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.Nav-items > * {
  margin: 10;
}

.Nav-items > li:hover {
  font-size: 30px;
  cursor: pointer;
}

.Restaurants {
  background: linear-gradient(to right, #435585, #c1c4cd);

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 2%;
  justify-content: space-evenly;
}

.res-card {
  flex-wrap: wrap;
  cursor: pointer;
  text-align: center;
  padding: 2%;
  margin: 1%;
 
  width: 300px;
  background: linear-gradient(to right, #9eb8d9, #7c93c3);
}
.res-card > img {
  height: 60%;
  width: 100%;
}

.res-card:hover {
  border: 1px solid black;
}

.Search-Bar{
    margin:10px;
}
.Shimmer-container{
  background: linear-gradient(to right, #435585, #c1c4cd);

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 2%;
  justify-content: space-evenly;
}
.error{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.error>img
{
 height: 400px;
}



.Shimmercard{
  height:350px;
  flex-wrap: wrap;
  cursor: pointer;
  text-align: center;
  padding: 2%;
  margin: 1%;
 
  width: 300px;
  background: linear-gradient(to right, #9eb8d9, #7c93c3);
}
