.Header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;



  font-size: larger;
  border: 2px solid black;
}
.Left-part {
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Left-part > * {
  margin: 10;
}

.Left-part > img {
  height: 80px;
  border-radius: 50%;
}

.Right-part {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.Nav-items {

  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.Nav-items > * {
  margin-right:20;
}
.Left-part > h3 > * {
  color: black;
}

.Nav-items > li:hover {
  font-size: 30px;
  cursor: pointer;
}
.Nav-items > li > * {
  color: black;
  text-decoration: none;
}

.Restaurants 
{


  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  justify-content: space-evenly;
}
.Restaurants > * {
  color: rgb(5, 5, 5);
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
}

.res-link {
  text-decoration: none;
}

.Search-Bar {
  margin: 10px;
}
.Search-Bar > * {
  margin: 10px;
}

.Shimmer-container {
  background: linear-gradient(to right, #435585, #c1c4cd);

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 2%;
  justify-content: space-evenly;
}

.error {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error > img {
  height: 400px;
}

.unfound {
  padding-left: 15px;
}

.Shimmercard {
  height: 350px;
  flex-wrap: wrap;
  cursor: pointer;
  text-align: center;
  padding: 2%;
  margin: 1%;

  width: 300px;
  background: linear-gradient(to right, #9eb8d9, #7c93c3);
}
.food-mandi > * {
  text-decoration: none;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.card-img-top {
  height: 300px;

}
.res-cardss {
  display: flex;
  justify-content: center;

  margin: 2%;
}
.res-name{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.res-image-head{
  border:none;
}
