



.Header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: larger;
}

.Left-part {
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Left-part > * {
  margin: 10;
}

.Left-part > img {
  height: 80px;
  border-radius: 50%;
}

.Right-part {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.Nav-items {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.Nav-items > * {
  margin-right: 20;
}
.Left-part > h3 > * {
  color: black;
}

.Nav-items > li:hover {
  font-size: 30px;
  cursor: pointer;
}
.Nav-items > li > * {
  color: black;
  text-decoration: none;
}

.Restaurants {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  justify-content: space-evenly;
}
.Restaurants > * {
  color: rgb(5, 5, 5);
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
}

.res-link {
  text-decoration: none;
}

.Search-Bar {
  
  margin: 10px;
}
.Search-Bar > * {
  margin: 10px;
  border: 1px solid black;
}

.error {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error > img {
  height: 400px;
}

.unfound {
  padding-left: 15px;
}

.food-mandi > * {
  text-decoration: none;
}
.res-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.res-img-top {
  height: 300px;
}
.res-cardss {
  display: flex;
  justify-content: center;

  margin: 2%;
}
.res-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.res-image-head {
  border: none;
}

.Shimmer-container {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;

  padding: 2rem;
}

.offlinepage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shimmer-card {
  margin: 5%;
  height: 300px;
  width: auto;
}
.about-car{
 margin: 2%;
 margin-top:10px;
 background-color: antiquewhite;
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
}
.about-card{
  text-align: center;
  height: 80%;
  width: 80%;
 display: flex;
 align-items: center;
 justify-content: center;
  background-color: wheat;
 
}
#about-logo{
  margin-bottom:50px ;
  border-radius: 50%;
}